// Your variable overrides
// See node_modules/bootstrap/scss/_variables.scss for all variables
$body-bg: #fff;
$body-color: #1d1d1d;
$primary: #1d1d1d;
$success: #a1f0c2;
$danger: #f0d80080;
$warning: #ffaf99;
$font-family-base: Arial;
$jumbotron-bg: pink;
$list-group-color: #d47c63;
$list-group-bg: #f0d800;
$list-group-border-color: none;
$list-group-item-padding-y: 0.75rem;
$list-group-item-padding-x: 1rem;
$list-group-border-radius: 0.25rem;

// Include all Bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";

// Add you custom CSS

body {
  margin: 20px;
}
footer {
  text-align: center;
}

.footerlinks {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  margin: 0 170px;
}
.jumbotron {
  background-image: url(../img/20200121_111550.jpg);
  background-repeat: no-repeat;
  background-position-y: top;
  background-position-x: 100%;
  background-size: 20rem;
}
.card-deck {
  margin-bottom: 30px;
}
.container-fluid {
  border-bottom: 1px solid black;
  padding: 6rem 0;
}

.cv-date {
  font-size: 1.3em;
  text-align: center;
}
.cv-text {
  font-style: italic;
  font-weight: 700;
  text-align: center;
}
.cv-heading {
  text-align: center;
  padding-bottom: 30px;
}
.list-group {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-content: space-around;
}
.list-group-item {
  box-shadow: 0 2px 3px #000;
  border-radius: 0.25rem;
  margin: 5px;
}
.col-2 {
  text-align: center;
}
